__pycache__
.mypy_cache
.pytest_cache
audiobook_cli.egg-info

.DS_Store
.env
# tests/media/covers
# *.txt
# !requirements.txt
# .venv
# tests/media/the-wall/the-wall.m4b
# tests/media/the-wall-test
# tests/media/the-wall-forge
# tests/media/output
# metadata.yml
# cover.jpg

coverage.xml
.coverage
release.md
