variables:
  DOCKER_IMAGE: "python:3.12-slim"

stages:
  - test

test-job:
  stage: test
  image: $DOCKER_IMAGE
  before_script:
    - apk add --no-cache ffmpeg
  script:
    - pip install -e .
    - audiobook-tool
    - echo "Ready!"
  only:
    - main
