variables:
  DOCKER_IMAGE: "python:3.12-slim"

stages:
  - test

test-job:
  stage: test
  image: $DOCKER_IMAGE
  before_script:
    - apt-get update && apt-get upgrade -y
    - apt-get install -y ffmpeg
  script:
    - pip install -e .
    - audiobook-tool -h
    - echo "Ready!"
  only:
    - main
