aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
anyio==4.12.1
asyncio==4.0.0
attrs==25.4.0
audible==0.8.2
audible-cli==0.3.2
-e git+ssh://git@gitlab.com/kiwilan/audiobook-tool.git@c59ea769cadd76cf0cc292584aa4fe19587dbdf2#egg=audiobook_cli
audioop-lts==0.2.2
beautifulsoup4==4.14.3
-e git+ssh://git@gitlab.com/kiwilan/book-tool.git@adcf9ad2961feaaa0f54f5f6cdea1da7876cbbc5#egg=book_cli
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
Columnar==1.3.1
dotenv==0.9.9
EbookLib==0.20
epub_meta==0.0.7
executing==0.8.2
fake-useragent==2.2.0
ffmpeg-python==0.2.0
-e git+ssh://git@gitlab.com/ewilan-riviere/forgejo-mirroring.git@01854d08b0d41d977b9d362e0851ae9ade58ef73#egg=forgejo_mirroring
frozenlist==1.8.0
future==1.0.0
google-api-core==2.29.0
google-api-python-client==2.188.0
google-api-python-client-stubs==1.31.0
google-auth==2.47.0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.72.0
greenlet==3.3.1
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.31.2
httpx==0.23.3
idna==3.11
iniconfig==2.3.0
isodate==0.7.2
librt==0.7.8
loguru==0.7.3
lxml==6.0.2
markdown-it-py==4.0.0
mdurl==0.1.2
multidict==6.7.1
mutagen==1.47.0
mypy==1.19.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==1.0.3
pbkdf2==1.3
pillow==12.1.0
playwright==1.58.0
playwright-stealth==2.0.1
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.0
protobuf==6.33.4
pyaes==1.6.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pydub==0.25.1
pyee==13.0.0
Pygments==2.19.2
pyparsing==3.3.2
pytest==9.0.2
python-box==7.3.2
python-dateutil==2.8.2
python-dotenv==1.2.1
PyYAML==6.0.3
questionary==2.1.1
requests==2.32.5
rfc3986==1.5.0
rich==14.3.2
rsa==4.9.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.1
tabulate==0.9.0
timeago==1.0.14
toml==0.10.2
toolz==1.1.0
tqdm==4.67.1
types-httplib2==0.31.2.20260125
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.2
wcwidth==0.2.14
webencodings==0.5.1
yarl==1.22.0
